.homePageContainer {
  height: 95vh;
  width: 100vw;
}
.half {
  height: 100%;
  width: 50%;
}
.pageLeft {
  height: 90vh;
  width: 100%;
  background: rgb(231, 231, 231);
}
.pageRight {
  height: 90vh;
  width: 100%;
  background: rgb(149, 147, 255);
}
.imageFrame {
  position: relative;
  height: 100%;
  width: 100%;
}
.image {
  object-fit: contain;
}
.getStarted {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  height: 100%;
  width: 25%;
  border-radius: 20px;
  color: white;
  font-size: 35px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  font-weight: bold;
  background: black;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  border: none;
}
.textFrame h3 {
  margin: 0;
}
.btnContainer {
  width: 100%;
}
