.menuPageContainer {
  height: 100%;
  width: 100%;
}
.imageBanner {
  height: 150px;
  width: 100%;
}
.contentContainer {
  height: 100%;
  width: 80%;
}
.restInfo {
  height: 160px;
  width: 100%;
  background: whitesmoke;
  justify-content: space-around !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.nameBox {
  height: 90%;
  width: 20%;
  align-items: flex-start !important;
}
.nameBoxText {
  margin: 3px;
  color: black;
  text-align: left;
}
.searchBox {
  height: 90%;
  width: 30%;
}
.searchBar {
  background: white;
  margin: 10px;
  height: 35px;
  width: 200px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 1px 3px black;
  color: black;
  font-size: 15px;
}
