.navBox {
  height: 10%;
  width: 90%;
  background: rgb(149, 147, 255);
}
.logoSide {
  height: 100%;
  width: 40%;
  font-size: 12px;
  justify-content: space-around !important;
}
.navSide {
  height: 100%;
  width: 60%;
}
#navList {
  justify-content: space-around !important;
}
.navItem {
  text-decoration: none;
  cursor: pointer;
}
.shoppingCart {
  cursor: pointer;
}
.logo {
  font-size: 20px;
  cursor: pointer;
}
.loginOverlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.loginInput {
  height: 40px;
  margin: 10px;
}
.loginInput:focus {
  outline: none;
}
.submitBtn {
  width: 70%;
  height: 40px;
}
.formIn {
  height: 60%;
  width: 90%;
  justify-content: space-around !important;
}
