.selectionContainer {
  height: 90%;
  width: 60%;
  flex-wrap: wrap;
}
.clearIt {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .selectionContainer {
    font-size: 13px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
}
